:root {
  --bg-progressBoxes: rgba(60, 105, 95, 0.432);
  --input-border: rgba(114, 255, 126, 0.705);

  --primary: #63e468;
  --success: #48a14b;
}

:root { font-size: 1rem; } 

html, body {
  height: 100%;
  margin: 0;
  overflow: hidden;
  font-size: 1rem; 
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: black;
  color: white;
  /* line-height: 1.6; */
  letter-spacing: 0.7px;
}

.content {
  flex: 1;
  overflow: auto;
}

/* INPUTS */
#settingsForm {
  max-width: 400px;
  margin: 0 auto;
  padding: 10px;
  margin-top: 3px;
}

.inputWrapper {
  margin-bottom: 40px;
}

.field {
  display: flex;
  text-align: center;
  align-items: center;
  margin-bottom: 25px;
  gap: 40px;
}

.field input {
  font-size: 1rem; 
  border: none;
  border-bottom: 1px solid var(--input-border);
  background: transparent;
  color: #fff;
  user-select: none;
  max-width: 37px;     
  min-width: 24px;
  text-align: center;
  font-size: 1rem; 
}

.field .dot {
  border-bottom: 1px solid var(--input-border);
}

.pingLog {
  transition: 1s;
  font-size: 1rem;
}

input:focus {
  outline: none;
  border-bottom: 2px solid rgb(114, 255, 126);
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* START */
.startBtn, .stopBtn {
  display: block;
  align-items: center;
  gap: 0.5rem;
  letter-spacing: 0.8px;
  padding: 0.5rem 0.7rem;
  font-weight: 600;
  color: white;
  background-color: rgb(76, 175, 79);
  border: none;
  cursor: pointer;
  width: 400px;
}

.stopBtn {
  background-color: rgb(171, 73, 40);
}



.section-divider {
  border: none;
  height: 1px;
  background-color: white;
  margin: 0;
  opacity: 0.8;
}

.loading-line {
  position: relative; 
  top: -1px;  
  border: none;
  height: 1px;
  background-color: rgb(82, 164, 192);
  box-shadow: -5px -1px 3px 2px rgba(109, 188, 214, 0.308);
  margin: 0;
  width: 100px;
  transform: translateX(-700%);
  animation-duration: 1.6s;
  /* animation-name: loading; */
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes loading {
  100% {transform: translateX(600%);}
}

.pingLogExpanded {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  box-sizing: border-box; 
  top: -250px;
  left: 250px;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  padding: 1rem;
  animation: expand 0.4s ease-out forwards;
}

@keyframes expand {
  from {
    transform: scale(0.2);
    opacity: 1;
  }
  to {
    transform: scale(1);
    top: 0px;
    left: 0px;
    opacity: 0.8;
  }
}

p {
  margin: 0rem;
}

/* ERROR POPUP */
.error-popup {
  background-color: red;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  align-items: center;   
  justify-content: space-between;
  gap: 12px;
  padding: 1px 10px;
  display: none;
}

.errorMsg-box {
  font-weight: bold;
  flex: 1 1 auto;       
  text-align: center;
  white-space: nowrap;          
  overflow: hidden;
  text-overflow: ellipsis;
}

.closeErrorBtn {
  color: rgb(0, 0, 0);
  font-weight: bold;
  cursor: pointer;
}

.closeErrorBtn:hover {
  color: rgba(0, 0, 0, 0.555);
}

.loading {
  cursor: progress; 
}
