.pingLogExpanded {
  display: flex;
  gap: 6px;
  flex-direction: column;
  height: 297px;
  padding: 22px 22px 20px 22px;
  overflow-y: scroll;
  scrollbar-width:auto;
  scrollbar-color: rgba(255,255,255,0.05);
}

.pingLogExpanded::-webkit-scrollbar {
  width: 12px;
}

.pingLogExpanded::-webkit-scrollbar-thumb {
  background: rgb(177, 177, 177);
  border-radius: 5px;
  border: 2px solid #111;
}

.pingLogExpanded::-webkit-scrollbar-thumb:hover {
  background: rgb(201, 201, 201);
}

.pingLogExpanded p {
  margin: 0px;
  padding: 6px 8px;
  border-radius: 3px;
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, "Roboto Mono", monospace;
  font-size: 13px;
  color: #cbe7ff;
}

.pingOutput {
  display: flex;
  gap: 10px;
}

.pingResp {
  min-width: 45%;
}

.pingLogSpacer {
  margin-top: auto;
}

