/* TOPBAR */
.titlebar {
  display:flex;
  background-color: #000000;
  justify-content:space-between;
  padding: 2px 3px;
  color: #e6eef0;
  user-select: none;
  -webkit-user-select: none;
  -webkit-app-region: drag;
  align-items: center;
  /* border-bottom: 1px solid var(--subtle);
  margin-bottom: 1px; */
}

.pingLocation {
  font-size: 12px;
}

.titlebar-right { display:flex; gap:6px; align-items:center; }

.win-btn {
  -webkit-app-region: no-drag;
  border: none;
  background: transparent;
  color: #cfe7ea;
  width: 44px;
  height: 28px;
  display:flex;
  align-items:center;
  justify-content:center;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}
.win-btn:hover { background: rgba(255, 255, 255, 0.13); }

.win-btn.close { color: #f84040; }
.win-btn.close:hover { background: rgba(255, 107, 107, 0.397); }

:root{
  --size: 40px;          /* button size */
  --thickness: 3px;      /* line thickness */
  --gap: 8px;            /* gap between lines */
  --color: #111;

}

.hamburger-btn {
  -webkit-app-region: no-drag;
  --size: 30px;
  --thick: 1px;
  --gap: 3px;
  --color: #efe5e5;
  width: var(--size);
  height: var(--size);
  display: inline-grid;
  place-items: center;
  padding: 6px;
  border: none;
  background: transparent;
  cursor: pointer;
  border-radius: 4px;
}

.hamburger-btn:active {
  transform: translateY(1px) scale(0.96);
}

.line {
  display: block;
  width: calc(var(--size) * 0.55);
  height: var(--thick);
  background: var(--color);
  border-radius: 4px;
  position: relative;
  transition: 0.1s linear;
}

.line + .line {
  margin-top: var(--gap);
}

.hamburger-btn:hover .line,
.hamburger-btn.open .line {
  width: calc(var(--size) * 0.65);
}

.hamburger-btn:active .line {
  transform: scaleX(0.92);
}